[**nostr-websocket-utils v0.3.0**](../README.md)

***

[nostr-websocket-utils](../globals.md) / NIP05VerificationResult

# Interface: NIP05VerificationResult

NIP-05 verification result

## Properties

### valid

> **valid**: `boolean`

#### Defined in

[nips/nip-05.ts:13](https://github.com/HumanjavaEnterprises/nostr-websocket-utils/blob/main/src/nips/nip-05.ts#L13)

***

### pubkey?

> `optional` **pubkey**: `string`

#### Defined in

[nips/nip-05.ts:14](https://github.com/HumanjavaEnterprises/nostr-websocket-utils/blob/main/src/nips/nip-05.ts#L14)

***

### relays?

> `optional` **relays**: `string`[]

#### Defined in

[nips/nip-05.ts:15](https://github.com/HumanjavaEnterprises/nostr-websocket-utils/blob/main/src/nips/nip-05.ts#L15)

***

### error?

> `optional` **error**: `string`

#### Defined in

[nips/nip-05.ts:16](https://github.com/HumanjavaEnterprises/nostr-websocket-utils/blob/main/src/nips/nip-05.ts#L16)
